
{{ if gt (len .Fields) 0 }}
const (
{{- range $i, $f := .Fields -}}
    {{ $f.Name }} int32	=	{{ $f.ErrCode }}
{{ end }}
)

var {{ .EnumName }}Map = map[int32]*errorx.ErrCodeDetail{
{{- range $i, $f := .Fields }}
	{{ $f.Name }}: &errorx.ErrCodeDetail{
		StatusCode: {{ $f.Status }},
		ErrorCode:  {{ $f.ErrCode }},
		Message:    "{{ $f.Message }}",
		Polyglot:   map[string]string{
			{{- range $key, $value := $f.Polyglot }}
			"{{ $key }}": "{{ $value }}",
			{{- end }}
		},
	},
{{- end }}
}

{{ end }}
