
{{ if gt (len .Fields) 0 }}
const (
{{- range $i, $f := .Fields -}}
    {{ $f.Name }} int32	=	{{ $f.ErrCode }}
{{ end }}
)

var {{ .EnumName }}Map = map[int32]*errorx.ErrCodeDetail{
{{- range $i, $f := .Fields }}
	{{ $f.Name }}: &errorx.ErrCodeDetail{
		Status:   {{ $f.Status }},
		Code:     {{ $f.ErrCode }},
		Message:  {{ printf "%q" $f.Message }},
		Polyglot: map[string]string{
			{{- range $key, $value := $f.Polyglot }}
			{{ printf "%q" $key }}: {{ printf "%q" $value }},
			{{- end }}
		},
	},
{{- end }}
}

{{ end }}
