
import (
	{{ range .Imports -}}
	"{{ . }}"
	{{ end }}

	model "github.com/ml444/gkit/cmd/protoc-gen-go-gorm/model"
)

{{ range .Commons -}}
{{ . }}
{{ end -}}

{{ range .Messages }}
	{{ if .Opts.TableName }}
func (x *{{ .Name }}) TableName() string {
	return "{{ .Opts.TableName }}"
}

func (x *T{{ .Name }}) TableName() string {
	return "{{ .Opts.TableName }}"
}
	{{ end }}

type T{{ .Name }} struct {
	{{ range .Fields }}
	{{- .FieldName }} {{ .NewType }} `{{ .ORMTag }}`
	{{ end }}
}

func (x *T{{ .Name }}) ToSource() model.IModel {
	return &{{ .Name }}{
	    {{ range .Fields -}}
	    {{ if eq .NewType .OldType -}}
        {{ .FieldName }}: x.{{ .FieldName -}},
        {{ else -}}
        {{ .FieldName }}: {{ .OldType }}(x.{{ .FieldName -}}),
        {{ end -}}
        {{ end }}
	}
}

func (x *{{ .Name }}) ToORM() model.ITModel {
	return &T{{ .Name }}{
	    {{ range .Fields -}}
	    {{ if eq .NewType .OldType -}}
        {{ .FieldName }}: x.{{ .FieldName -}},
        {{ else -}}
        {{ .FieldName }}: {{ .NewType }}(x.{{ .FieldName -}}),
        {{ end -}}
        {{ end }}
	}
}

{{ $modelName := .Name }}
{{ if gt (len .Opts.IndexClauses) 0 }}
{{ range .Opts.IndexClauses -}}
func (x *T{{ $modelName }}) {{ .ToFuncName }}() clause.Expression {
	return {{ .ToString }}
}
{{ end -}}
{{ end }}

	{{ range .SerializeFields -}}
		{{ if .SerializerName }}
			{{ render .SerializerName . }}
		{{ end }}
	{{ end }}
{{ end }}
